Source: seabreeze
Priority: optional
Maintainer: Magnus Hagdorn <magnus.hagdorn@ed.ac.uk>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/seabreeze
#Vcs-Git: https://salsa.debian.org/debian/seabreeze.git

Package: seabreeze-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: seabreezeBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: seabreezeBROKEN
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
